.App {
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: #6BA368;
}

.menu{
  scale: 150%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

